# Ignore node_modules directory
node_modules/

# Ignore logs
logs
*.log

# Ignore environment variables
.env

# Ignore build output
dist/
build/

# Ignore IDE-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
